@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display:ital,wght@1,700&family=Space+Mono&display=swap');
/* font-family: 'Abril Fatface', serif; */
/* font-family: 'Abril Fatface', serif; */

/* navbar css */

.navbar{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    line-height: 26px;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px grey;
    -webkit-box-shadow: 0 8px 6px -6px grey;
    border-bottom: 0.3px gray solid !important;

}
.nav-link{
    font-weight: 300 !important;
}
.active{
    border-bottom: 1px black solid;
}
.navbar-brand{
    font-weight: 700;
    font-family: 'roboto', sans-serif;

}

/* footer */
.footer{
    color: aqua;
    padding: 25px;
    background-color: rgb(8, 8, 8);
}
.footer a{
    text-decoration: none;
    color: aqua;
    padding: 10px;
}
.footer a :hover{
    color: bisque;
    border-bottom: 1px solid bisque;
}



/* page not found */

.pnf {
    display: flex;
    min-height: 65vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .pnf-title {
    font-size: 100px;
    font-weight: 700;
  }
  
  .pnf-heading {
    font-weight: normal;
  }
  
  .pnf-btn {
    color: black;
    border: 1px solid black;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
  }
  .pnf-btn:hover {
    background-color: black;
    color: white;
  }



  /* contact us */
  .contactus {
    margin:auto;
    padding: auto;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }